/* CSS for hero section */
.card-hover:hover {
  transition: all 1s ease-in-out;
  background: #079dc2;

  h1,
  h2,
  h3,
  a,
  p {
    color: #fff;
  }

  .icon-style {
    color: #000;
  }
}

/* CSS for skills Section */
.card-hover-border:hover {
  transition: all 0.5s ease-in-out;
  background: #079dc2;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;

  h1,
  h2,
  h3 {
    color: #fff;
  }

  p {
    color: #ffffffdd;
  }
  .icon-style{
    transition: all 0.8s ease-in-out;
    transform: rotate(360deg);
    color: #000;
  }
}


/* CSS for project section */
.card-hover-projects:hover {
  transition: all 1s ease-in-out;
  background: #079dc2;

  h1,
  h2,
  h3 {
    color: #fff;
  }

  p {
    color: #ffffffdd;
  }

  .icon-style {
    color: #000;
  }
}